@model SIGAE.Web.Data.Entities.Becas.Solicitud

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanciaAlCentroEducativo" class="control-label"></label>
                <input asp-for="DistanciaAlCentroEducativo" class="form-control" />
                <span asp-validation-for="DistanciaAlCentroEducativo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrnspPblcHorarioCentEduc" /> @Html.DisplayNameFor(model => model.TrnspPblcHorarioCentEduc)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CentEducCercania" /> @Html.DisplayNameFor(model => model.CentEducCercania)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DistanciaAMasCercano" class="control-label"></label>
                <input asp-for="DistanciaAMasCercano" class="form-control" />
                <span asp-validation-for="DistanciaAMasCercano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazonDeNoMatricula" class="control-label"></label>
                <input asp-for="RazonDeNoMatricula" class="form-control" />
                <span asp-validation-for="RazonDeNoMatricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanciaAMatriculado" class="control-label"></label>
                <input asp-for="DistanciaAMatriculado" class="form-control" />
                <span asp-validation-for="DistanciaAMatriculado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aprobada" /> @Html.DisplayNameFor(model => model.Aprobada)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
