@model SIGAE.Web.Data.Entities.Administrativo.Asesoria.Liquidacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Liquidacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumBoletaLiquidacion" class="control-label"></label>
                <input asp-for="NumBoletaLiquidacion" class="form-control" />
                <span asp-validation-for="NumBoletaLiquidacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBoletaTransporte" class="control-label"></label>
                <input asp-for="NumBoletaTransporte" class="form-control" />
                <span asp-validation-for="NumBoletaTransporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSolicitud" class="control-label"></label>
                <input asp-for="FechaSolicitud" class="form-control" />
                <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAprobacion" class="control-label"></label>
                <input asp-for="FechaAprobacion" class="form-control" />
                <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aceptado" /> @Html.DisplayNameFor(model => model.Aceptado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

